





/*-----------------nav-----------------------*/
@media(max-width: 1050px) {
    .hideOnMoblie {
      display: none;
    }
    .menu-button {
      display: block;
    }
    nav {
      height: 40px;
      width: 100%;
    }
  }

/*--------------------------------------------*/


/*--------------------------------------------*/
